{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-3"></div> -->
        <!-- List of Channels -->
        <div class="col-6 mt-3 offset-3">
            <div class="row" >
                {% if channel_topic_url %}    <!-- if not viewing for specific channel rather than all channels-->
                    <div class="row">
                        <div class="col"><h4>Channel: {{ channel_topic }}</h4></div>
                        <div class="col"><a>Description: {{ channel_description }}</a></div>
                    <hr />
                {% endif %}
                {% for post in post_list %}
                    <div class="row">  
                        {% if not channel_topic_url %}   
                            <div class="col"><p class="card-text">{{ post.channel }}</p></div>
                        {% endif %}
                        <div class="col"><p class="card-text">{{ post.updated_on }}</p></div>
                        <div class="col"><p class="card-text">{{ post.author }}</p></div>
                        <div class="col"><p class="card-text">{{ post.title }}</p></div>
                        <img src="{{ post.post_image.url }}">
                        <div class="col"><p class="card-text">{{ post.channel_post }}</p></div>      
                        <div class="col"><p class="card-text">{{ post.post_url }}</p></div>
                        <hr />
                    </div>
                {% empty %}
                    <div><h4>There are no posts to view.</h4></div>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}