{% extends "base.html" %}

{% block content %}

<!-- This code handles the channel post views. The post details will be displayed
along with the number of likes for the post. -->

<div class="container-fluid">
    <div class="row">
        <!-- Channel View -->
        <div class="col-sm-6 mt-3 offset-md-3">
        
            {% if channel_topic_url %}    <!-- if not viewing for specific channel rather than all channels-->
                <h5 class="mt-3 text-success">Channel: {{ channel_topic }}</h5>
            {% endif %}
            {% for post in post_list %}          
            
            {% if post.status == 0 %}
                <div class="row border rounded shadow mt-3 unapproved-bg">
            {% else %}
                <div class="row border rounded shadow mt-3">
            {% endif %}  
                    {% if not channel_topic_url %}   
                        <div class="col"><p class="card-text text-success">{{ post.channel }}</p></div>
                    {% endif %}
                    <div class="row mt-2"><h5 class="card-title text-muted">{{ post.title }}</h5></div>
                    <div class="col card-text text-secondary">Posted by {{ post.author }} on {{ post.updated_on }}</div>

                    {% if post.post_image.url %}  
                        <img class="card-image img-size img-fluid" src="{{ post.post_image.url }}" alt="Post Image">
                    {% endif %}

                    {% if post.channel_post %}
                        <div class="row card-text mt-3 ms-2">{{ post.channel_post }}</div>
                    {% endif %}

                    {% if post.post_url %}     
                        <div class="row card-text nav-link"><a href="{{ post.post_url }}" target="_blank">More detail here</a></div>
                    {% endif %}

                    <strong>
                        {% if user.is_authenticated %}
                            {% if channel_topic_url %}
                            <form class="d-inline" action="{% url 'channel_post_like' channel_slug=channel_topic_url post_slug=post.slug_url %}" method="POST">
                            {% else %}
                            <form class="d-inline" action="{% url 'channel_post_like' post_slug=post.slug_url %}" method="POST">
                            {% endif %}
                            {% csrf_token %}
                            {% if not post.number_of_likes == 0 %}
                                <button type="submit" name="blog_post_id" value="{{post.slug_url}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                            {% else %}
                                <button type="submit" name="blog_post_id" value="{{post.slug_url}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                            {% endif %}
                            </form>
                        {% else %}
                            <span class="text_secondary"><i class="far fa-heart"></i></span>
                        {% endif %}
                        
                        <span class="text_secondary">{{ post.number_of_likes }}</span>
                    </strong>

                    {% if post.status == 0 %}
                        <div class="col"><p class="card-text"><b>Post not approved yet</b></p></div>
                    {% endif %}

                    {% if user.is_authenticated and current_user == post.author %}
                        <div class="col" >
                        {% if channel_topic_url %}
                            <form action="{% url 'channel_post_edit' channel_slug=channel_topic_url post_slug=post.slug_url %}" method="get">
                        {% else %}
                            <form action="{% url 'channel_post_edit' post_slug=post.slug_url %}" method="get">
                        {% endif %}
                            <button type="submit" class="btn btn-outline-primary" name="edit_post" value="edit_post" >Edit</button>
                            {% csrf_token %}
                            </form>
                        </div>

                        <!-- Delete Button trigger modal -->
                        <div class="col mb-2">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmPostDelete{{ forloop.counter }}">Delete</button>
                        </div>

                    {% endif %}
                    

                    {% if approval_type == "Approve" %}
                        <div class="col mb-2" >
                            <form action="{% url 'channel_post_approve' channel_slug=channel_topic_url post_slug=post.slug_url post_approval_type=approval_type %}"
                             method="post"><button type="submit" class="btn btn-outline-success" name="your_name" value="your_value" >Approve</button>
                            {% csrf_token %}
                            </form>
                         </div>
                    {% endif %}
                         
                    {% if approval_type == "Unapprove" %}
                        <div class="col mb-2" >
                            <form action="{% url 'channel_post_approve' channel_slug=channel_topic_url post_slug=post.slug_url post_approval_type=approval_type %}" 
                             method="post"><button type="submit" class="btn btn-outline-dark" name="your_name" value="your_value" >Unapprove</button>
                            {% csrf_token %}
                            </form>
                        </div>
                    {% endif %}
                </div>

                <!-- Modal for Delete Button above-->
                <div class="modal fade" id="confirmPostDelete{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                    <h5 class="modal-title">Post Deletion</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    This action will permanently delete the post
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% if channel_topic_url %}
                    <form action="{% url 'channel_post_delete' channel_slug=channel_topic_url post_slug=post.slug_url %}" method="post">
                    {% else %}
                    <form action="{% url 'channel_post_delete' post_slug=post.slug_url %}" method="post">
                    {% endif %}                               
                        <button type="submit" class="btn btn-primary">Confirm Deletion</button>
                        {% csrf_token %}
                    </form>
                    </div>
                </div>
                </div>
            </div>                
                
            
            {% empty %}
                <div><h4>There are no posts to view.</h4></div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}