{% extends "base.html" %}
 
{% block content %}

<!-- This code handles the management of channels. A channel owner will see
a list of channels and the post attached. There is a delete button to 
delete the channel and all posts associated with that channel. A link 
to view posts on the channel, a link to approve or unapprove posts. -->
 
<div class="container-fluid">
    <div class="row">
        <!-- List of Channels To Manage -->
       
        <div class="col-sm-6 mt-3 offset-md-3">
            <h5 class="mt-3 text-success">Channels Managed by you</h5>
            {% for channel in channel_list %}
                <div class="row border rounded shadow mt-3">

                    <!-- Delete Button here triggers modal below -->
                    <div class="col-3 mt-2 mb-2">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmManageDelete{{ forloop.counter }}">Delete</button>
                    </div>
                    
                    <div class="col mt-2 mb-2 text-left" ><a class="nav-link" href="{% url 'channel_form' slug=channel.topic_url %}">
                        <p class="card-text">{{ channel.topic }}</p></a> 
                    </div>    
                    
                    <div class="row">
                        {% if channel.status == 0 %}
                            <div class="col mt-2 mb-2 text-left">Draft</div>
                        {% else %}
                            <div class="col mt-2 mb-2 text-success text-left">Approved</div>
                        {% endif %}

                        <div class="col mt-2 mb-2 text-left" ><a class="nav-link" href="{% url 'channel_post_approve' slug=channel.topic_url post_approval_type='Unapprove' %}">
                            Unapprove Posts</a>
                        </div>
                        
                        {% if channel.num_unapproved %}
                        <div class="col mt-2 mb-2 text-left"><a class="nav-link" href="{% url 'channel_post_approve' slug=channel.topic_url post_approval_type='Approve' %}">
                            {{ channel.num_unapproved }} posts to approve</a></div>
                        {% else %}
                        <div class="col mt-2 mb-2 text-left">No posts to approve</div>
                        {% endif %}
                    </div>

                </div>

                <!-- Modal for Delete Button above-->
                <div class="modal fade" id="confirmManageDelete{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title">Channel Deletion</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This action will permanently delete channel {{ channel.topic }} & all associated posts
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="{% url 'channel_delete' slug=channel.topic_url %}" method="post">
                                 <button type="submit" class="btn btn-primary">Confirm Deletion</button>
                                 {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            {% empty %}
                <div><h4>You currently don't manage any channels.</h4></div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
 
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
 
{%endblock%}

